{% extends 'base.html.twig' %}

{% block body %}
    <h1>Subjects list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Level</th>
                <th>Parent (Level 0)</th>
                <th>Parent (Level 1)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <td><a href="{{ path('subject_show', { 'id': subject.id }) }}">{{ subject.id }}</a></td>
                <td>{{ subject.title }}</td>
                <td>{{ subject.level }}</td>
                <td>{{ subject.parent0 }}</td>
                <td>{{ subject.parent1 }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('subject_show', { 'id': subject.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
